/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}
a {
    text-decoration: none;
}
/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 5px;
    text-decoration: none;
}
#navbar.responsive ul input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
#navbar ul li a:hover{
    color: white;
    background-color: white;
    background: linear-gradient(90deg,red,black);
    font-size: 30px; 
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../img/headerbg.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.7;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#services-container h2{
    color: maroon
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 20px 25px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Times New Roman', Times, serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../bg2.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.5;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
/*#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../bg2.jpg')no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}*/


/*footer{
    background: black;
    color: white;
    padding: 9px 20px;
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
    opacity: 0.7;
    background: url('../bg2.jpg')no-repeat center center/cover;
}*/
footer {
    background: url('../img/bg2.jpg')no-repeat center center/cover;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: -1;
    opacity: 0.7;
    padding: 40px 0px 8px 0px;
    font-size: larger;
}
footer a {
	color: white;
}
footer #upper-footer{
	padding-left: 32px;
    color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-decoration: none;
}
footer #upper-footer ul{
	padding: 0;
	line-height: 1.5;
	
}
footer #upper-footer ul li{ 
    list-style-type: none;
}

#contact-us {
	padding: 8px;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
footer #follow-us {
	display: block;
	justify-content: center;
	transition: 0.4s;
	padding : 0;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;

}
footer #follow-us a i {
	color: white;
	font-size: 48px;
	padding: 16px;
	transition: 0.4s;
}
.fa-facebook-square {
    color: #3b5998;
    size: 48px;
}
footer #follow-us a i.fa-instagram:hover {
	color: rgb(247, 117, 138);
}
footer #follow-us a i.fa-youtube:hover {
	color: red;
}
#copyright {
    display: block;
    text-align: center;
    position: relative;

}
/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: red;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
}

/* animatade code*/
.btn{ 
    color: white; 
    /* font-size: 70px;  */
    font-weight: 700; 
    letter-spacing: 8px; 
    margin-bottom: 20px; 
    background: red; 
    position: relative;  
} 
@keyframes text{ 
    0%{ 
        color: black; 
        /* margin-bottom: -40px;  */
    } 
    30%{ 
        letter-spacing: 25px; 
        /* margin-bottom: -40px;  */
        } 
    85%{ 
        letter-spacing: 8px; 
        /* margin-bottom: -40px;  */
    } 
} 
/*Marriage Hall CSS*/
.left{
	background:Ghostwhite;
	width:25%;
	height:200PX;
	padding:20px 5PX 50PX;
	display:INLINE-BLOCK;
	height:100vh;
	}
	img{
		DISPLAY:BLOCK;
		MAX-WIDTH:75%;
		MAX-HEIGHT:65%;
		BORDER: 1PX SOLID #000000;
		MARGIN:20PX AUTO;
	}

	.right{
		DISPLAY:INLINE-BLOCK;
		WIDTH:73%;
		FLOAT:RIGHT;
		}
